@import "bootstrap_custom";


@mixin googleFonts($nom) {
    @import url('https://fonts.googleapis.com/css2?family=' + $nom + '&display=swap');
}
@include googleFonts('Roboto');
@include googleFonts('Open+Sans');
@include googleFonts('Zen+Dots');


body {
	font-family: 'roboto';
	background-color: #EFF5F5;
}

* {
	box-sizing: border-box;
}

a:hover {
	text-decoration: underline !important;
}


input[type="email"], input[type="password"] {
	padding: 15px;
	width: 100%;
	font-size: 1em;
	border: 0;
	border-radius: 5px;
	color: white;
	background-color: #2a4e5ab6;
	margin-bottom: 15px;
}

#login-body {
	max-width: 450px;
}

#background {
	background-image: url('../../assets/network-g5c32064c9_1920.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

#article {
    background: url('../../assets/points.png'), center url('../../assets/blog.jpg');
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#project {
    background: url('../../assets/points.png'), center url('../../assets/data.jpg');
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#flex-presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 50px);
}

#card {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(70px, auto);
    grid-gap: 15px;
    justify-content: center;
}

#paragraphe p {
	color: #00425A !important;
	text-align: justify;
}

.titre {
    width: 50%;
}
.titre h1 {
    font-size: 3em;
    margin: 0;
	text-transform: uppercase;
}



.container {
	width: 1500px;
	margin: 0 auto;
	
}

@media all and (max-width: 1030px) {
	.container { width: 800px; }
}

@media all and (max-width: 830px) {
	.container { width: 580px; }
	header { text-align: center; padding-left: 20px; }
}